html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.nav{
  display: flex;
  list-style-type: none;
  gap: 10px;
  
}
.nav >li {
  padding:20px 70px;
  position: relative;
}

li:after {
  content: '';
  width: 50%;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%,-50%);
  border-width: 0 0 1px;
  border-style: solid;
  padding-top:-20px !important;
  opacity: 0;
  visibility: hidden;  
  transition: opacity 600ms, visibility 600ms;
}
li:hover::after{
  visibility: visible;
  opacity: 1;
}